@use "../variables/" as *;
@use "./mixin" as *;
// extend 也在function 資料夾中, 不可直接調用整個function
// extend繼承語法都繪置頂
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%btn-animat{
    border-radius: $radius-ex;
    @extend %flex-center;
    height: 60px;
    width: 210px;
    cursor: pointer;
    margin: $space-md auto;
    @include bordered;
}

%input-style{
    // border: 1px solid var(--lesser-3);
    @include bordered;
    padding: $space-xs;
    border-radius: $radius-xxs;
    color: lesser-4;
    font-weight: $f-w-w;
}

