@charset "UTF-8";
/* (UTF-8) 編碼一定要在第一行 */

/*CSS變數*/
:root {
    /*灰階*/
    --deep: #444;
    --dark: #666;
    --grey: #999;
    --light: #f1f1f1;
    /*背景*/
    --bg-1: #f2edf0;
    --bg-2: #e6ece5;
    --bg-3: #ecf0f4;
    /*輔助*/
    --lesser-1: #f3e4e4;
    --lesser-2: #efdbdb;
    --lesser-3: #cdaaab;
    --lesser-4: #8f6b6d;
    /*透明*/
    --alpha-w-20: rgba(255, 255, 255, 0.2);
    /*尺寸*/
    --ex: 99999;
}


/* CSS Reset */
* {
    box-sizing: border-box;
    /* 不累加內距及邊框(RWD一定要寫) */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;

}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}

/* 重置連接 */
a {
    display: block;
    /*inline不支援尺寸設定,但a常用來設定尺寸,所以直接用 */
    color: #444;
    text-decoration: none;
}

/* 區塊標題 */
.title h3 {
    font-family: "DXGW WenKai TC";
    font-weight: 700;
    font-size: 1.2rem;
}

/* 頁首區 */
#topbar {
    position: fixed;
    /*position權重較重*/
    top: 0;
    left: 0;
    width: 100%;
    /*position預設寬高為hug, 所以要手動寫w*/
    z-index: var();

    display: flex;
    justify-content: space-between;
    padding: 20px;
}

div.logo {
    width: 55px;
}

#topbar ul {
    display: flex;
    justify-content: flex-end;
}

/*Icon選單*/
#topbar .icon a {
    width: 35px;
    height: 35px;
}

/*svg會 自動寬度:fill/ 高度:auto/ 其他點陣圖檔,不會自動fill,要寫background-size */
.icon-fb {
    background-image: url(../images/icon-fb.svg);
}

.icon-ig {
    background-image: url(../images/icon-ig.svg);
}

.icon-line {
    background-image: url(../images/icon-line.svg);
}

.icon-fb:hover {
    background-image: url(../images/icon-fb-hover.svg);
}

.icon-ig:hover {
    background-image: url(../images/icon-ig-hover.svg);
}

.icon-line:hover {
    background-image: url(../images/icon-line-hover.svg);
}

/*主選單*/
#topbar .menu {
    padding: 50 30px;
    border-radius: 9999px;
    /* border: 2px solid; */
    /*玻璃擬態效果*/
    background-color: var(--alpha-w-20);
    border: 2px solid var(--alpha-w-20);

}

#topbar .menu a {
    margin: 10px;
    border-bottom: 2px solid transparent;
    /*保留hover空間, 以防尺寸變動*/
}

#topbar .menu a:hover {
    color: #222;
    border-bottom: 2px solid #222;
}

/*聯絡我們*/
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    height: 100vh;
    background-color: var(--bg-1);
}